@import 'tailwindcss';

:root {
    --violet-0: #eae0fd;
    --violet-1: #d6c1fc;
    --violet-2: #c4a2fb;
    --violet-3: #b281fa;
    --violet-4: #a25df9;
    --violet-5: #874ad2;
    --violet-6: #6c3ba8;
    --violet-7: #512d7e;
    --violet-8: #381f58;
    --violet-9: #221335;
    --fuschia-0: #fddbf4;
    --fuschia-1: #fbb5ea;
    --fuschia-2: #fa8ce1;
    --fuschia-3: #f959d9;
    --fuschia-4: #d44bb9;
    --fuschia-5: #ae3e98;
    --fuschia-6: #8c327a;
    --fuschia-7: #6a255c;
    --fuschia-8: #491a40;
    --fuschia-9: #2b0f26;
    --sanguine-0: #fdddde;
    --sanguine-1: #fcbbbd;
    --sanguine-2: #fa969a;
    --sanguine-3: #f96c73;
    --sanguine-4: #e14f58;
    --sanguine-5: #ba4249;
    --sanguine-6: #95353a;
    --sanguine-7: #71282c;
    --sanguine-8: #4e1c1e;
    --sanguine-9: #2b0f11;
    --amber-0: #fbe1b4;
    --amber-1: #f5c557;
    --amber-2: #d6ac4c;
    --amber-3: #b99542;
    --amber-4: #9e7f38;
    --amber-5: #81682e;
    --amber-6: #685325;
    --amber-7: #4f401c;
    --amber-8: #352b13;
    --amber-9: #1f190b;
    --chartreuse-0: #b2f95a;
    --chartreuse-1: #9ddd4e;
    --chartreuse-2: #8ac144;
    --chartreuse-3: #77a73b;
    --chartreuse-4: #658f32;
    --chartreuse-5: #54762a;
    --chartreuse-6: #425d21;
    --chartreuse-7: #324619;
    --chartreuse-8: #243312;
    --chartreuse-9: #161f0b;
    --malachite-green-0: #96faa6;
    --malachite-green-1: #51e76f;
    --malachite-green-2: #47ca61;
    --malachite-green-3: #3eaf54;
    --malachite-green-4: #349347;
    --malachite-green-5: #2b7a3b;
    --malachite-green-6: #23622f;
    --malachite-green-7: #1a4923;
    --malachite-green-8: #123318;
    --malachite-green-: #0b1f0f;
    --cyan-0: #71f9f1;
    --cyan-1: #4fe0d8;
    --cyan-2: #45c4bd;
    --cyan-3: #3caaa4;
    --cyan-4: #33908b;
    --cyan-5: #2a7672;
    --cyan-6: #22605c;
    --cyan-7: #194644;
    --cyan-8: #123331;
    --cyan-9: #0b1f1d;
    --sapphire-blue-0: #dde4fd;
    --sapphire-blue-1: #bbcafc;
    --sapphire-blue-2: #97b0fa;
    --sapphire-blue-3: #7096f9;
    --sapphire-blue-4: #517ee5;
    --sapphire-blue-5: #4368bd;
    --sapphire-blue-6: #355397;
    --sapphire-blue-7: #283e71;
    --sapphire-blue-8: #1c2b4e;
    --sapphire-blue-9: #0f182b;

    /* color variables */
    --background: #ffffff;
    --foreground: #171717;
    /* TODO: select colors */
    --primary: var(--violet-3);
    --on-primary: #ffffff;

    --secondary: var(--fuchsia-4);
    --on-secondary: #ffffff;

    --success: var(--spring-green-1);
    --warning: var(--yellow-1);
    --error: var(--vermillion-3);
}

/* set up dark mode */
/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
